[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pyperclip = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
chromedriver-binary = "==124.0.6367.91.0"
openpyxl = "*"
pypdf2 = "*"
python-docx = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "*"
python_full_version = "*"
